# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [17]:
import pandas as pd 
flights = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv')

In [28]:
#When do the first and last flights leave each day?

f = flights[~(flights.dep_time.isnull())]
first = f.groupby(['month','day']).head(1)
last= f.groupby(['month','day']).tail(1)
fed = first.append(last)
fed.sort_values(by=['month','day'])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
837,2013,1,1,2356.0,2359,-3.0,425.0,437,-12.0,B6,727,N588JB,JFK,BQN,186.0,1576,23,59,2013-01-02T04:00:00Z
842,2013,1,2,42.0,2359,43.0,518.0,442,36.0,B6,707,N580JB,JFK,SJU,189.0,1598,23,59,2013-01-03T04:00:00Z
1776,2013,1,2,2354.0,2359,-5.0,413.0,437,-24.0,B6,727,N789JB,JFK,BQN,180.0,1576,23,59,2013-01-03T04:00:00Z
1785,2013,1,3,32.0,2359,33.0,504.0,442,22.0,B6,707,N763JB,JFK,SJU,193.0,1598,23,59,2013-01-04T04:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109532,2013,12,29,2400.0,1700,420.0,302.0,2025,397.0,AA,2379,N3GMAA,LGA,MIA,161.0,1096,17,0,2013-12-29T22:00:00Z
109552,2013,12,30,1.0,2359,2.0,441.0,437,4.0,B6,839,N508JB,JFK,BQN,198.0,1576,23,59,2013-12-31T04:00:00Z
110505,2013,12,30,2356.0,2200,116.0,154.0,2339,135.0,B6,985,N279JB,JFK,RDU,93.0,427,22,0,2013-12-31T03:00:00Z
110520,2013,12,31,13.0,2359,14.0,439.0,437,2.0,B6,839,N566JB,JFK,BQN,189.0,1576,23,59,2014-01-01T04:00:00Z
111279,2013,12,31,2356.0,2359,-3.0,436.0,445,-9.0,B6,745,N665JB,JFK,PSE,200.0,1617,23,59,2014-01-01T04:00:00Z

In [29]:
#When there is a missing value in dep_time then this is an indication of canceled flight. Find the number of cancelled flights for each (carrier, origin) combination.

fcancel = flights[flights.dep_time.isnull()]
fcancel.groupby(['carrier','origin']).agg(cancelled_flights = ('flight','count'))

                cancelled_flights
carrier origin
9E      EWR                    68
        JFK                   807
        LGA                   169
AA      EWR                    99
        JFK                   141
        LGA                   396
AS      EWR                     2
B6      EWR                    74
        JFK                   315
        LGA                    77
DL      EWR                    39
        JFK                   100
        LGA                   210
EV      EWR                  2164
        JFK                    82
        LGA                   571
F9      LGA                     3
FL      LGA                    73
MQ      EWR                   168
        JFK                   327
        LGA                   739
OO      LGA                     3
UA      EWR                   435
        JFK                    44
        LGA                   207
US      EWR                    75
        JFK                    26
        LGA                   562
VX      EWR                    10
        JFK                    21
WN      EWR                   105
        LGA                    87
YV      LGA                    56

In [30]:
#Which carrier has the worst dep_delays?

fworst = flights.groupby('carrier').dep_delay.mean()
fworst.sort_values(ascending=False).head(1)

carrier
F9    20.215543
Name: dep_delay, dtype: float64

In [27]:
##Which plane (tailnum) has the worst on-time record?

ftail = flights[~(flights.arr_delay.isnull())]
ftail.sort_values(by=['arr_delay']).tail(1).tailnum

7072    N384HA
Name: tailnum, dtype: object

In [32]:
#For each plane, count the number of flights before the first delay of greater than 1 hour.

flights[(flights.arr_delay > 60)].groupby('tailnum').agg({ 'flight': 'count'})

         flight
tailnum
D942DN        1
N0EGMQ       30
N10156       15
N102UW        2
N104UW        4
...         ...
N997DL        5
N998AT        3
N998DL        8
N999DN        6
N9EAMQ       21

[3371 rows x 1 columns]